<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Thêm tài khoản</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Thêm tài khoản</h4>
                    <div class="form-group">
                        <label for="exampleSelectGen">Thêm tài khoản cho: </label>
                        <select class="form-control" id="exampleSelectGen" onchange="loadForm(this.value)">
                            <option>Chọn</option>
                            <option value="0">Admin</option>
                            <option value="1">Nhân viên</option>
                            <option value="2">Học viên</option>
                        </select>
                    </div>
                    <form class="forms-sample form_employeeAndUser" hidden>
                        <div class="form-group">
                            <label for="exampleInputName6">Họ tên</label>
                            <input type="text" class="form-control" name="name" id="exampleInputName6" placeholder="Họ tên">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName1">Tên đăng nhập</label>
                            <input type="text" class="form-control" name="username" id="exampleInputName1" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword4">Mật khẩu</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword4" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail3">Email</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail3" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName5">Số điện thoại</label>
                            <input type="text" class="form-control" name="phoneNumber" id="exampleInputName5" placeholder="Số điện thoại">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputName7">Ngày sinh</label>
                            <input type="date" class="form-control" name="birthday" id="exampleInputName7" placeholder="Ngày sinh">
                        </div>
                        <div class="form-group">
                            <label for="exampleSelectGender">Giới tính</label>
                            <select class="form-control" id="exampleSelectGender" name="gender">
                                <option value="">Chọn giới tính</option>
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                                <option value="2">Khác</option>
                            </select>
                        </div>

                        <div class="form-group employeeAttribute">
                            <label for="exampleCertificate">Bằng cấp</label>
                            <input type="text" class="form-control" name="certificate" id="exampleCertificate" value="Loại bằng cấp" placeholder="Bằng cấp">
                        </div>

                        <div class="form-group studentAttribute">
                            <label for="exampleEducation">Trình độ học vấn</label>
                            <select class="form-control" id="exampleEducation" name="education">
                                <option value="0">Chọn học vấn</option>
                                <option value="1">Tiểu học</option>
                                <option value="2">Trung học cơ sở</option>
                                <option value="3">Trung học phổ thông</option>
                                <option value="4">Đại học</option>
                                <option value="5">Đi làm</option>
                            </select>
                        </div>
                        <div class="form-group d-flex flex-column">
                            <label>Vai trò</label>
                            <div class="row" style="margin-left: 0%" >
                                <input type="text" disabled class="form-control col-10" data-value="" name="role" >
                                <div class="dropdown col-1">
                                    <button type="button" class="btn btn-outline-info dropdown-toggle" id="dropdownMenuIconButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Vai trò
                                    </button>
                                    <div class="dropdown-menu roleMenu" aria-labelledby="dropdownMenuIconButton3">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Ảnh đại diện</label>
                            <input type="file" multiple name="file" onchange="renderImg()"  class="file-upload-default">
                            <div class="input-group col-xs-12">
                                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                                <span class="input-group-append">
                                    <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                                </span>
                            </div>
                            <img id="avatar" style="width: 20%; height: 20%" >
                        </div>
                        <div class="form-group">
                            <h6 class="text-danger message_text"></h6>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Thêm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div layout:fragment="js">
        <script>
            function renderImg() {
                let file = document.querySelector('input[name="file"]').files[0]
                document.getElementById("avatar").setAttribute("src",URL.createObjectURL(file))
            }
            formTAndS = document.querySelector(".form_employeeAndUser")

            function  loadForm(value){
                let roleCode = ''
                switch (value) {
                    case "0":
                        formTAndS.setAttribute("hidden","hidden");
                        break;
                    case "1":
                        formTAndS.removeAttribute("hidden");
                        document.querySelector(".studentAttribute").setAttribute("hidden","hidden")
                        document.querySelector(".employeeAttribute").removeAttribute("hidden")
                        roleCode = "EMPLOYEE"
                        break;
                    case "2":
                        formTAndS.removeAttribute("hidden");
                        document.querySelector(".employeeAttribute").setAttribute("hidden","hidden")
                        document.querySelector(".studentAttribute").removeAttribute("hidden")
                        roleCode = "USER";
                        break;

                }
                renderRole(roleCode)
            }

            let form = document.querySelector(".form_employeeAndUser")
            form.addEventListener("submit", (e) =>{
                e.preventDefault();
                let formValue = formToObject(".form_employeeAndUser")
                formValue["role"] = document.querySelector('input[name="role"]').getAttribute("data-value").toString().split(",")
                let path;
                switch (document.querySelector('input[name="role"]').getAttribute("roleCode")) {
                    case "USER" :
                        path = "/admin/api/v1/account/createStudentAcc";
                        break;
                    case "ADMIN":
                        path = "/admin/api/v1/account/createAdminAcc";
                        break;
                    default :
                        path = "/admin/api/v1/account/createEmployeeAcc";
                        break;
                }

                post(path,formValue)
                    .then(respond => {
                        if (respond.message != null){
                            document.querySelector(".message_text").innerHTML = respond.message
                        }else {
                            let img = document.querySelector('input[name="file"]')
                            let imagesValue= new FormData()
                            imagesValue.append("id",  respond.id)
                            imagesValue.append("file",  img.files[0])

                            postImages("/user/api/v1/images/addImages",imagesValue)
                                .then()

                            window.location.href = "/admin/accountView/listAccount";
                        }
                })
            })
            function renderRole(roleCode) {
                let html = '';
                if (roleCode === "ADMIN"){
                    document.querySelector('input[name="role"]').value = "admin"
                    document.querySelector('input[name="role"]').setAttribute("data-value",roleCode)
                } else {
                    get(`/admin/api/v1/role/findByRoleCode/${roleCode}`)
                        .then(respond => {
                            for (const role of respond) {
                                html += ` <a class="dropdown-item" roleCode="${role.code}" onclick="addRoleToInput(this)">${role.name}</a>`
                            }
                            document.querySelector(".roleMenu").innerHTML=html
                        })
                }
                document.querySelector('input[name="role"]').setAttribute("roleCode",roleCode)
            }

            function addRoleToInput(element) {
                let roleInput = document.querySelector('input[name="role"]')
                let roleInputName = roleInput.value.split(",").filter(item => item !== "");
                let roleCodeInput = roleInput.getAttribute("data-value").toString().split(",").filter(item => item !== "")
                let newRoleInput= []
                let newRoleCodeInput= []

                if (roleInputName[0] !== undefined){
                    let count=0
                    for (let i=0; i < roleInputName.length;i++) {
                        if (roleInputName[i] !== element.innerHTML){
                            newRoleInput.push(roleInputName[i])
                            newRoleCodeInput.push(roleCodeInput[i])
                        }else {
                            count++
                        }
                    }
                    if (count===0){
                        newRoleInput.push(element.innerHTML)
                        newRoleCodeInput.push(element.getAttribute("roleCode"))
                    }
                }else {
                    newRoleInput.push(element.innerHTML);
                    newRoleCodeInput.push(element.getAttribute("roleCode"))
                }
                roleInput.value = newRoleInput
                roleInput.setAttribute("data-value",newRoleCodeInput.toString())
            }
        </script>
    </div>
</body>
</html>